.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
  gap: 1em;
}

.title {
  margin: 10vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;

  :last-child {
    font-size: 14px;
    font-weight: 500;
  }
}
