@import 'normalize.css';

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('ttf');
  }
}

@include font('OldStandartTT', normal, 400, '/fonts/Old_Standard_TT/OldStandardTT-Regular.ttf');
@include font('OldStandartTT', italic, 400, '/fonts/Old_Standard_TT/OldStandardTT-Italic.ttf');
@include font('OldStandartTT', normal, 700, '/fonts/Old_Standard_TT/OldStandardTT-Bold.ttf');

:root {
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-weight: 400;
  cursor: default;

  color: #5d5a55;
  background-color: #f7ebd3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #f7ebd3;
  --text-color: #5d5a55;
  --blue-color: #aebfbe;
  --blue-dark-color: #798c8c;
  --blue-light-color: #d0d9d4;

  --font-text: 'OldStandartTT';
  --font-text-secondary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::selection {
  background: var(--blue-light-color);
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-text);
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0 0 0.2em 0;
}

p {
  margin: 0;
}

textarea,
textarea:focus {
  outline: none;
  border: none;
}
